{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="mydiv">
    <center>
        <h1 class="star">
            <strong>About Us</strong>
        </h1>
    </center>
</div>
<h1>Symptomate:</h1>

<p class="p1">
    hii this platform name symptomate your health partner we analyse<br> your disease with the help of provided symptoms by searching it<br> in our database not only that we also provide you the location of<br> areas affected by that disease 
    this platform is made by the team <strong>THE ELITE.</strong>
</p>
<image class ="bhadiya" src="https://source.unsplash.com/200x200/?health,nature"></image>
<br>
<div class="namaste">
<image class="hero" src="https://source.unsplash.com/250x250/?health,sports" width="250px" height="250px"></image>
</div>
<div class="waah">
<p class="p2">
    we have limited data base now of india and of 10 dieases but we will increase our database very fast please support us by giving your love and follow <strong>healthy lifestyle</strong>
</p>
</div>
{% endblock body %}
